/* write down the css for Carousel in this file */
/* write your carousel css in this file */
.main-container{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;

}
.image_box{
    width: 500px;
    height: 80vh;
    position: relative;

}
.image_box img{
    width: 100%;
    height: 100%;
}
.imagecontainer{
    width: 450px;
    height: 100vh;
    margin: auto;
    position: relative;
    top: 50px;
}
.title{
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4%;
    z-index: 1;
}
.para{
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15%;
    z-index: 1;
    bottom: -160px;
    top: 1%;
   

}
h1{
    background-color: rgba(223, 215, 215, 0.868);
    color: black;
    padding:5%;
    opacity:0.5px;
    border-radius: 10px;
    
 
}
p{
    background-color: rgba(236, 225, 225, 0.872);
    color: black;
    padding: 5%;
    opacity: 0.5px;
    border-radius: 10px;
    font-weight: bolder;
}
.forward{
    position: absolute;
    margin-bottom: 40px;
    cursor: pointer;
    border: none;
    display: flex;
   align-items: center;
    background-color: rgba(0, 0, 0, 0.495);
    color: white;
    height: 80vh;
    z-index: 1;
  }
  
  #backwardIcon{
    margin-left:16.5vw;
  }
  
  #forwardIcon{
    margin-left:55.5vw;
  }